
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Preparation.Microplan.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new webNEOC.Preparation.MicroplanGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>