
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.ImportGate.TempCampaign.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new webNEOC.ImportGate.TempCampaignGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>