
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Lookup.ClusterLevel.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new webNEOC.Lookup.ClusterLevelGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>