
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Lookup.Vehicletype.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new webNEOC.Lookup.VehicletypeGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>