@{
    ViewBag.Title = "Social Mobilzers";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <style>
             #dashboard {
                height: 710px;
                width: 100%;
            }
             iframe
             {
                 border:none;
             }
        </style>
        <div style="height:710px;width:100%;">
            <iframe src="~/Dash/recruitmentpage" style="height:100%;width:100%;"></iframe>
        </div>
    </div>
</body>
</html>
