
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Campaign.DailyVaccinations.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new webNEOC.Campaign.DailyVaccinationsGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>