
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.PostCampaign.LQAS.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new webNEOC.PostCampaign.LQASGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>