@{
    ViewData["Title"] = Serenity.LocalText.Get("Admin data");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new webNEOC.Campaign.AdminDataGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>