
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Implementation.VitaminA.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new webNEOC.Implementation.VitaminAGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>