@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.Default.Days.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new webNEOC.Lookup.DaysGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>