
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.CVA.PTTS.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new webNEOC.CVA.PTTSGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>